<template>
  <div dir="rtl">
    <b-row class="header-background mx-0">

      <!-- years wheel -->
      <b-col cols="auto" class="my-auto" @wheel="infiniteScroll">
        <years-wheel
          :yearList.sync="yearList"
          @updateEvent="updateCurrentYear"
        ></years-wheel>
      </b-col>

      <!-- circle bar -->
      <b-col md="4" class="px-5 my-auto">
        <circle-progress-bar
          :key="forceUpdateKey"
          :circle1.sync="data.circle1"
          :circle2.sync="data.circle2"
        ></circle-progress-bar>
      </b-col>

      <!-- line bar -->
      <b-col class="my-auto">
        <line-progress-bar
          :categories.sync="data.categories"
        ></line-progress-bar>
      </b-col>

    </b-row>
  </div>
</template>

<script>
import YearsWheel from '../components/yearsWheel'
import LineProgressBar from '../components/lineProgressBar'
import CircleProgressBar from '../components/circleProgressBar'

export default {
  components: { YearsWheel, LineProgressBar, CircleProgressBar },
  data () {
    return {
      data: [],
      currentYear: 2017,
      yearList: [],
      forceUpdateKey: 0
    }
  },
  mounted () {
    this.updateCurrentYear()
  },
  methods: {
    async infiniteScroll (event) {
      // scroll up
      if (event.deltaY < 0) {
        this.yearList.splice(0, 1)
        this.yearList.push(this.yearList[this.yearList.length - 1] - 1)
        this.currentYear--
      }

      // scroll down
      if (event.deltaY > 0) {
        this.yearList.splice(this.yearList.length - 1, 1)
        this.yearList.unshift(this.yearList[0] + 1)
        this.currentYear++
      }

      // update current year and get data
      this.updateCurrentYear()
    },
    async updateCurrentYear (year = this.currentYear) {
      try {
        // update 5 years according to current year
        this.currentYear = year
        this.yearList = [
          this.currentYear + 2,
          this.currentYear + 1,
          this.currentYear,
          this.currentYear - 1,
          this.currentYear - 2
        ]

        // get data from server
        this.data = (await this.$axios.get(`/getData/${this.currentYear}`)).data

        // update counter for render components
        this.forceUpdateKey++
      } catch (err) {
        console.error(err)
      }
    }
  }
}
</script>

<style scoped lang="stylus">
  .header-background
    padding 15px 0px
    background-color #2e2e2e
    min-height 227px
</style>
