<template>
  <div>
    <b-row>

      <!-- no data message -->
      <b-col v-if="!circle1 && !circle2">
        <span class="not-data-span text-color-span">אין מידע</span>
      </b-col>

      <!-- circle 1 -->
      <b-col v-if="circle1">

        <!-- circle 1 text -->
        <b-row class="mb-3">
          <b-col>
            <span class="text-color-span">{{messageCircle1}}</span>
          </b-col>
        </b-row>

        <!-- circle bar -->
        <vue-circle
          :progress="circle1.value"
          :size="150"
          line-cap="round"
          :fill="fillCircle1"
          empty-fill="#2e2e2e"
          :animation-start-value="0.0"
          :start-angle="Math.PI * 1.5"
          insert-mode="append"
          :thickness="5"
          :show-percent="true"
          @vue-circle-progress="progress"
        >
        </vue-circle>

      </b-col>

      <!-- circle 2 -->
      <b-col v-if="circle2">

        <!-- circle 2 text -->
        <b-row class="mb-3">
          <b-col>
            <span class="text-color-span">{{messageCircle2}}</span>
          </b-col>
        </b-row>

        <!-- circle bar -->
        <vue-circle
          :progress="circle2.value"
          :size="150"
          line-cap="round"
          :fill="fillCircle2"
          empty-fill="#2e2e2e"
          :animation-start-value="0.0"
          :start-angle="Math.PI * 1.5"
          insert-mode="append"
          :thickness="5"
          @vue-circle-progress="progress"
        >
        </vue-circle>

      </b-col>

    </b-row>
  </div>
</template>

<script>
import VueCircle from 'vue2-circle-progress'

export default {
  components: { VueCircle },
  props: ['circle1', 'circle2'],
  data () {
    return {
      messageCircle1: 'פרוייקט אישי',
      messageCircle2: 'ניקוד CPE',
      fillCircle1: { gradient: ['#78a7a9'] },
      fillCircle2: { gradient: ['#3a459d', '#8c7ba5', '#3a459d'] }
    }
  },
  methods: {
    progress (event, progress, stepValue) {}
  }
}
</script>

<style scoped lang="stylus"></style>
