<template>
  <div>

    <b-row>
      <!-- no data message -->
      <b-col v-if="!categories || !categories.length">
        <span class="not-data-span text-color-span">אין מידע</span>
      </b-col>

      <b-col
        md="6"
        class="pr-5 progress-list"
        v-for="category in categories"
        :key="category.Title"
      >

        <!-- category value text -->
        <b-row>

          <!-- offset md-3 -->
          <b-col md="3"></b-col>

          <!-- category value, offset-md="3" on b-col not working -->
          <b-col md="9" class="text-right">
            <span class="text-color-span">{{category.value}}</span>
          </b-col>

        </b-row>

        <b-row>

          <!-- category title -->
          <b-col md="3" class="text-right">
            <span class="text-color-span">{{category.Title}}</span>
          </b-col>

          <!-- progress bar -->
          <b-col md="9">
            <b-progress :value="category.value" :max="category.maxValue"></b-progress>
          </b-col>

        </b-row>

      </b-col>
    </b-row>

  </div>
</template>

<script>
export default {
  props: ['categories']
}
</script>

<style scoped lang="stylus"></style>
