<template>
  <div>
    <ol class="my-auto">
      <li
        v-for="(year, index) in yearList"
        :key="year"
        class="wheel-text-font cursor-pointer"
        :class="{
                    'font-weight-bold': index === 2,
                    'opacity-1': index === 1 || index === 3,
                    'opacity-2': index === 0 || index === 4
                  }"
        @click="updateCurrentYear(year)"
      >
        <b-row>
          <b-col>
            <span v-if="index === 2" class="text-danger">&bull;</span>
          </b-col>
          <b-col class="p-0">
            <span>{{year}}</span>
          </b-col>
        </b-row>
      </li>
    </ol>
  </div>
</template>

<script>
export default {
  props: ['yearList'],
  methods: {
    updateCurrentYear (year) {
      this.$emit('updateEvent', year)
    }
  }
}
</script>

<style scoped lang="stylus">
  ol
    color white
    list-style-type none
    position relative

  .opacity-1
    opacity 0.6

  .opacity-2
    opacity 0.2

  .wheel-text-font
    font-size 16px
</style>
