.text-color-span
  color #9E9E9E

.not-data-span
  font-size 24px

.percent-text
  color #9E9E9E

.progress
  direction rtl
  background-color #4f4f4f
  border-radius 10px

.progress-list
  & .progress-bar
    border-radius 10px
    background-image linear-gradient(to right, red, yellow)

.progress-list:nth-child(1)
  & .progress-bar
    background-image linear-gradient(to right, #acdbc5, #728b7f)

.progress-list:nth-child(2)
  & .progress-bar
    background-image linear-gradient(to right, #9c82bc, #3b46a0)

.progress-list:nth-child(3)
  & .progress-bar
    background-image linear-gradient(to right, #eda791, #b7654b)

.progress-list:nth-child(4)
  & .progress-bar
    background-image linear-gradient(to right, #91c4b0, #789e9f)

.progress-list:nth-child(5)
  & .progress-bar
    background-image linear-gradient(to right, #cfb17b, #c2805a)

.progress-list:nth-child(6)
  & .progress-bar
    background-image linear-gradient(to right, #874146, #a84d3b)

.progress-list:nth-child(7)
  & .progress-bar
    background-image linear-gradient(to right, #af83a7, #7c8dc4)

.progress-list:nth-child(8)
  & .progress-bar
    background-image linear-gradient(to right, #4d5592, #80aebf)

.cursor-pointer
  cursor pointer
